<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <databases>
      <database id="master">
        <dataProviders>
          <dataProvider>
            <prefetch>
              <!--url rewrite prefetch-->
              <item desc="urlrewriter">{3CF68609-B1F2-4ADE-B7E3-91B5CF74F5B8}</item>
            </prefetch>
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>
