<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <search>
      <configuration>
        <indexes>
          <index id="UrlRewriteReporting" type="Sitecore.Search.Index, Sitecore.Kernel">
            <param desc="name">UrlRewriteReporting</param>
            <param desc="folder">$(id)</param>
            <Analyzer ref="search/analyzer" />
            <locations hint="list:AddCrawler">
              <reportingMaster type="Sitecore.Search.Crawlers.DatabaseCrawler,Sitecore.Kernel">
                <Database>master</Database>
                <Root>/sitecore/system/Modules/Url Rewrite/Reporting</Root>
                <include hint="list:IncludeTemplate">
                  <rewriteReport>{F5CEB67D-1CE8-48EF-8D2E-39F44A21B52E}</rewriteReport>
                </include>
              </reportingMaster>
            </locations>
          </index>
        </indexes>
      </configuration>
    </search>

  </sitecore>

</configuration>
