<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <experienceAnalytics>
      <aggregation>
        <!-- This section hosts the definitions of the Experience Analytics dimensions
            'id' attribute is the unique identifier and should match the ID of the corresponding dimension definition item in Marketing Control Panel
            'type' attribute references the fully qualified class name and assembly name with the dimension implementation.
        -->
        <dimensions>
          <dimension id="{F81EF8CB-2662-491C-8F0F-DA858DBDDF54}" type="Hi.UrlRewrite.Analytics.ByUrlRewriteRedirect, Hi.UrlRewrite" />
        </dimensions>
      </aggregation>
    </experienceAnalytics>
  </sitecore>
</configuration>