<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- IgnorePages setting contain paths which should be ignored by redirect module. Use '|' to divide the paths. -->
      <setting name="Hi.UrlRewrite.IgnoreUrlPrefixes" value="/sitecore" />
      <!-- Cache size for storing the rules -->
      <setting name="Hi.UrlRewrite.CacheSize" value="10MB" />
      <!-- Log file enabled -->
      <setting name="Hi.UrlRewrite.LogFileEnabled" value="true" />
      <!-- Log file name -->
      <setting name="Hi.UrlRewrite.LogFileName" value="$(dataFolder)/logs/UrlRewrite.log.{date}.txt" />
      <!-- Log file level -->
      <setting name="Hi.UrlRewrite.LogFileLevel" value="INFO" />
      <!-- Determines whether or not Analytics tracking is enabled for the Url Rewrite module. -->
      <setting name="Hi.UrlRewrite.AnalyticsTrackingEnabled" value="true" />
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor type="Hi.UrlRewrite.Processing.InboundRewriteProcessor, Hi.UrlRewrite" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
      <initialize>
        <processor type="Hi.UrlRewrite.Processing.InboundRuleInitializer, Hi.UrlRewrite" />
      </initialize>
    </pipelines>
    <events>
      <event name="item:saved">
        <handler type="Hi.UrlRewrite.Processing.UrlRewriteItemEventHandler, Hi.UrlRewrite" method="OnItemSaved" />
      </event>
      <event name="item:saved:remote">
        <handler type="Hi.UrlRewrite.Processing.UrlRewriteItemEventHandler, Hi.UrlRewrite" method="OnItemSavedRemote" />
      </event>
      <event name="item:deleted">
        <handler type="Hi.UrlRewrite.Processing.UrlRewriteItemEventHandler, Hi.UrlRewrite" method="OnItemDeleted" />
      </event>
      <event name="item:deleted:remote">
        <handler type="Hi.UrlRewrite.Processing.UrlRewriteItemEventHandler, Hi.UrlRewrite" method="OnItemDeletedRemote" />
      </event>
    </events>
  </sitecore>
</configuration>
